@media (max-width: 475px) {
    button.btn-primary, button.btn-secondary, .btns-row {
        width: 100%;
    }
}

/**** HEADER ****/
.header {
    display: flex;
    flex-direction: column;
    padding-top: 27vh;
    min-height: 80vh;
    background: url('/images/header-bg.webp') no-repeat center center;
    background-size: cover;
}

.header .row {
    max-width: 50%;
}

.header h1 {
    color: #fff;
}

.header p {
    margin-top: 14px;
    color: #fff;
}

.header .btns-row {
    margin-top: 48px;
    min-height: 20vh;
}

@media (max-width: 1280px) {
    .header .row {
        max-width: 70%;
    }
}

@media (max-width: 768px) {
    .header .row {
        max-width: 100%;
    }
}

/**** SERVICES ****/
.services {
    padding-top: 60px;
    padding-bottom: 100px;
    background-color: #F5FAFA;
}

.services .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 40px;
}

.services .item .bottom {
    background-color: #33A699;
    padding: 16px 34px 32px 34px;
}

.services .services-link {
    background-color: rgba(255, 255, 255, 0.7);
    width: 43px;
    height: 43px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease-in-out;
}

.services .services-link:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.services .item .bottom div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services .item h3 {
    max-width: 30%;
}

.services .item p {
    margin-top: 16px;
}

.services h3, .services p {
    color: #fff;
}

@media (max-width: 1280px) {
    .services .item p {
        min-height: 6.5rem;
    }
}

@media (max-width: 1024px) {
    .services .row {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 640px) {
    .services .row {
        grid-template-columns: 1fr;
    }

    .services .item p {
        min-height: auto;
    }
}

/**** VEHICLES ****/
.vehicles {
    padding-top: 68px;
}

.vehicles .row {
    margin-top: 36px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

.vehicles .item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.vehicles .item .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.vehicles .benefits {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 14px;
}

.vehicles .benefit {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    align-items: center;
}

.vehicles .benefit img {
    width: 16px;
}

@media (max-width: 1280px) {
    .vehicles .benefit {
        grid-template-columns: 0.15fr 1fr;
    }
}

@media (max-width: 1024px) {
    .vehicles .row {
        grid-template-columns: 1fr;
    }

    .vehicles .benefit {
        grid-template-columns: 0.08fr 1fr;
    }
}

@media (max-width: 768px) {
    .vehicles .benefit {
        grid-template-columns: 0.1fr 1fr;
    }
}

@media (max-width: 640px) {
    .vehicles .benefit {
        grid-template-columns: 0.15fr 1fr;
    }
}

@media (max-width: 475px) {
    .vehicles .item {
        grid-template-columns: 1fr;
    }

    .vehicles .benefit {
        grid-template-columns: 0.08fr 1fr;
    }
}

/**** GALLERY ****/
.gallery {
    padding-top: 110px;
}

.gallery .row {
    margin-top: 56px;
}

.gallery .swiper-wrapper {
    display: flex;
    justify-content: flex-start;
}

.gallery .swiper-slide {
    width: auto !important;
    margin-right: 30px;
    cursor: grab;
}

.gallery .swiper-slide:active {
    cursor: grabbing;
}

.gallery img {
    width: 27vw;
    cursor: pointer;
}

.gallery .actions-buttons-row {
    width: 100%;
    margin-top: 38px;
    display: flex;
    gap: 16px;
    justify-content: flex-end;
}

.gallery .next, .gallery .prev {
    cursor: pointer;
}

@media (max-width: 1280px) {
    .gallery img {
        width: 40vw;
    }
}

@media (max-width: 768px) {
    .gallery img {
        width: 50vw;
    }
}

@media (max-width: 475px) {
    .gallery img {
        width: 85vw;
    }
}

/**** WHY US ****/
.whyus {
    background-color: #F5FBFA;
    margin-top: 124px;
    padding-top: 58px;
    padding-bottom: 56px;
}

.whyus .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
    gap: 64px;
}

.whyus .item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.whyus .item img {
    width: 90%;
}

.whyus .item:last-of-type {
    align-items: flex-end;
}

.whyus p {
    margin-top: 16px;
}

@media (max-width: 1280px) {
    .whyus .row {
        gap: 48px;
    }

    .whyus .item:last-of-type {
        justify-content: center;
    }
}

@media (max-width: 1024px) {
    .whyus .row {
        grid-template-columns: 1fr;
    }

    .whyus .item:last-of-type {
        width: 100%;
        flex-direction: row;
    }

    .whyus .item img {
        width: 100%;
    }
}

/**** CONTACT ****/
.contact {
    padding-top: 112px;
    padding-bottom: 112px;
}

.contact .row {
    background-color: #33A699;
    width: 100%;
    padding: 42px 0 58px 66px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.contact .item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact .item:last-of-type {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.contact h4 {
    background-color: #FFF;
    color: #33A699;
}

.contact h2, .contact p {
    color: #fff;
}

.contact p {
    margin-top: 16px;
}

.contact .btns-row {
    margin-top: 46px;
}

@media (max-width: 1280px) {
    .contact .item img {
        width: 80%;
        margin-left: auto;
    }
}

@media (max-width: 1024px) {
    .contact .row {
        padding-bottom: 24px;
    }

    .contact .item:first-of-type {
        padding-right: 66px;
    }

    .contact .item:last-of-type {
        position: relative;
        margin-top: -40px;
    }

    .contact .row {
        grid-template-columns: 1fr;
    }

    .contact .item img {
        width: 60%;
    }
}

@media (max-width: 640px) {
    .contact .row {
        padding: 32px 0 32px 32px;
    }

    .contact .item:first-of-type {
        padding-right: 32px;
    }

    .contact .item:last-of-type {
        margin-top: 20px;
    }

    .contact .item img {
        width: 80%;
    }
}

@media (max-width: 400px) {
    .contact .row {
        padding: 32px 0 32px 16px;
    }

    .contact .item:first-of-type {
        padding-right: 16px;
    }
}