.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    position: relative;
    background-color: white;
    padding: 40px 20px;
    border-radius: 10px;
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

}

.modal-content.project-modal {
    display: flex;
    flex-direction: column;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.modal-content img {
    max-width: 80%;
    max-height: 100vh;
}

.modal-content.project-modal img {
    width: 50vw;
}

.modal-content .project-content {
    width: 40vw;
}

.modal-content .project-content h3 {
    margin-top: 20px;
}

.modal-content .project-content p {
    margin-top: 8px;
}

@media (max-width: 1536px) {
    .modal-content.project-modal img {
        width: 80vw;
    }

    .modal-content .project-content {
        width: 60vw;
    }
}

@media (max-width: 1024px) {
    .modal-content.project-modal img {
        width: 100vw;
    }

    .modal-content .project-content {
        width: 65vw;
    }
}